.container {
  padding-top: 10px;
}

.heading {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-top: 20px;
  text-align: center;
}

.panel {
  position: relative;
  margin: auto;
  width: 50%;
  padding: 5px;
  border: 1px solid var(--color-border);
  border-radius: 10px;
}

/* CSS btn */
.panel-btn {
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

/* Dark mode btn */
#theme-toggle-btn {
  padding: 0;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: var(--color-btn-bg);

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
}

#theme-toggle-btn svg {
  fill: var(--color-heading);
  width: 20px;
  height: 20px;
}

#theme-toggle-btn svg:last-child {
  display: none;
}

[data-theme="dark"] #theme-toggle-btn svg:first-child {
  display: none;
}

[data-theme="dark"] #theme-toggle-btn svg:last-child {
  display: block;
}

.panel-btn button {
  padding: 5px 10px;
  background: var(--color-btn-bg);
  border: 2px solid var(--color-btn-border);
  color: var(--color-heading);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.panel-btn button:hover {
  background-color: var(--color-btn-bg-hover);
  border-color: var(--color-btn-border-hover);
}

.panel-heading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: var(--color-heading);
}

.content {
  width: 95%;
  margin: 20px auto 0;
}

.content .table {
  width: 100%;
  height: 80vh;
  border: 1px solid var(--color-table-border);
  overflow-y: auto;
  scroll-behavior: smooth;
}

.content .table table {
  width: 100%;
  border-collapse: collapse;
  color: var(--color-text);
}

.content .table th,
.content .table td {
  border: 1px solid var(--color-table-border);
  padding: 8px;
  text-align: center;
}

.content .table th {
  background-color: var(--color-table-heading);
  color: var(--color-heading);
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Ngày hiệu lực */
.content .table th:nth-child(1) {
  width: 8%;
}

/* Ghi có */
.content .table th:nth-child(2) {
  width: 8%;
}

/* Mô tả giao dịch */
.content .table th:nth-child(3) {
  width: 34%;
}

.content .table td:nth-child(3) {
  text-align: left;
}

/* Tên trích xuất */
.content .table th:nth-child(4) {
  width: 15%;
}

/* Thông tin sinh viên */
.content .table th:nth-child(5) {
  width: 30%;
}

/* Search */
.content .table th:nth-child(6) {
  width: 5%;
}

.table-row {
  transition: all 0.5s;
}

.student-box {
  list-style: none;
  text-align: center;
  display: inline-block;
  font-size: small;
}

.student-one-item-box {
  position: relative;
}

.student-one-item {
  background: var(--color-std-box-one-row-bg);
  color: var(--color-heading);
}

.delete-one-student {
  position: absolute;
  top: -9px;
  right: -9px;

  border: none;
  background: none;
  user-select: none;
  padding: 2px;
  margin: 0;
}

.delete-one-student:hover {
  cursor: pointer;
  scale: 1.3;
}

.student-no-item {
  background: var(--color-std-box-no-row-bg);
  color: var(--color-heading);
}

.student-box-item td {
  transition: all 0.5s;
}

.student-box-item:hover {
  cursor: pointer;
  background: var(--color-std-box-row-bg-hover);
  color: var(--color-heading);
  text-decoration: underline;
}

.student-search {
  font-size: 20px;
  /* Can select by mouse */
  user-select: none;
}

.student-search:hover {
  cursor: pointer;
  background: var(--color-btn-bg-hover);
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  border: 16px solid var(--color-spinner-border);
  border-top: 16px solid var(--color-spinner-border-top);
  border-radius: 50%;
  animation: spin 2s linear infinite;
  z-index: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
